{% extends '__base__.html' %}

{% block title %}管理我的发布{% endblock %}

{% block beforehead %}

<script>
var
    USER_ID = '{{ user_id }}';

function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            items: data.items,
            page: data.page
        },
        methods: {
            edit_item: function (item) {
                location.assign('/manage/user/' + USER_ID + '/items/edit?id=' + item.id);
            },
            delete_item: function (item) {
                if (confirm('确认要删除“' + item.name + '”？删除后不可恢复！')) {
                    postJSON('/api/items/' + item.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err);
                        }
                        refresh();
                    });
                }
            }
        }
    });
    $('#vm').show();
}

$(function() {
    getJSON('/api/user/' + USER_ID + '/items', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});

</script>

{% endblock %}

{% block content %}

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
        <a href="/manage/user/{{ __user__.id }}/items/create" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 发布商品</a>

        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-5-10">商品名</th>
                    <th class="uk-width-2-10">创建时间</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="item: items" >
                    <td>
                        <a target="_blank" v-attr="href: '/item/'+item.id" v-text="item.name"></a>
                    </td>
                    <td>
                        <span v-text="item.created_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a href="#0" v-on="click: edit_item(item)"><i class="uk-icon-edit"></i>
                        <a href="#0" v-on="click: delete_item(item)"><i class="uk-icon-trash-o"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div v-component="pagination" v-with="page"></div>
    </div>

{% endblock %}
